{% extends "encyclopedia/layout.html" %}
{% load markdownify %} 
        {% block title %}
            {{name}}
        {% endblock %}
        
        {% block body %}
        <style>
            .a{
                text-align: right;
            }
            .tmp{
                display: inline;
            }
            input[value="Edit"]{
                width : 90px;
                height:30px;
                font-size: 20px;
                font-family: Consolas,sans-serif;
            }
        </style>
        <div class="a">
        <form class="tmp" action="{% url 'edit' name=name %}">
            <input type="submit" value="Edit">
        </form>
        </div>
        {{val | markdownify }}
        {% endblock %}
    <!-- </body>
</html> -->